:root {
	--padding-inline: 1rem;
	--content-max-width: 900px;
	--breakout-max-width: 1200px;

	--shared-transition: 0.4s;
	--line: color-mix(in lch, var(--foreground) 10%, transparent);
	--size: 1.5rem;

	--scrollbar-width: none;

	--cosmic-latte: #fffae5ff;
	--safety-orange: #eb7b26ff;
	--sunglow: #ffce62ff;
	--bakermiller-pink: #fc95b4ff;
	--emerald: #0bc56dff;
}

html {
	overscroll-behavior: contain;
	scrollbar-width: var(--scrollbar-width);
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-f: calc((var(--f)) * -1);

		--surface-l: 34.1%;
		--surface-c: 0.027;
		--surface-h: 142.93;
		--subtle-l: 100%;
	}
}

.content-grid {
	--padding-inline: 0.25rem;
	--breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

	grid-template-columns:
		[full-width-start] minmax(var(--padding-inline), 1fr)
		[breakout-start] minmax(0, var(--breakout-size))
		[content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width))
		[content-end]
		minmax(0, var(--breakout-size)) [breakout-end]
		minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
	grid-column: content;
}

.content-grid > .breakout {
	grid-column: breakout;
}

.content-grid > .full-width {
	grid-column: full-width;
	display: grid;
	grid-template-columns: inherit;
}

.flow > * + * {
	margin-top: var(--flow-spacing, 1em);
}

[popover],
dialog,
::backdrop {
	transition:
		display var(--shared-transition) allow-discrete,
		overlay var(--shared-transition) allow-discrete,
		opacity var(--shared-transition);
	opacity: 0;
}

.first-letter::first-letter {
	text-transform: uppercase;
}

.shell::before {
	position: fixed;
	top: 0;
	z-index: -1;
	content: "";
	height: 100vh;
	width: 100vw;
	background:
		linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) -5vmin / var(--size) var(--size),
		linear-gradient(var(--line) 1px, transparent 1px var(--size)) -5vmin / var(--size) var(--size);
	mask: linear-gradient(25deg, transparent 70%, white);
}

.transform-style-3d {
	transform-style: preserve-3d;
}

.backface-hidden {
	backface-visibility: hidden;
}

.rotate-y-180 {
	transform: rotateY(180deg);
}

.main-card::before {
	--size: 2rem;
	--line: color-mix(in hsl, var(--color-black), transparent 70%);
	content: "";
	height: 100vh;
	width: 100vw;
	position: absolute;
	background:
		linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
		linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
	mask: linear-gradient(-20deg, transparent 50%, white);
	top: 0;
	left: 0;
	transform-style: flat;
	pointer-events: none;
	z-index: -1;
	opacity: 0.15;
}
