NEXT_PUBLIC_SITE_NAME=Thom
NEXT_PUBLIC_WEBAPP_URL=https://localhost:3000
NEXT_PUBLIC_API_URL=http://127.0.0.1:8090
NEXT_PUBLIC_VAPID_PUBLIC_KEY=your-vapid-public-key

WEBAPP_URL=https://localhost:3000
API_URL=http://127.0.0.1:8090
VAPID_PRIVATE_KEY=your-vapid-private-key
